{
  "plugins": [
    "es5"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:es5/no-es2015"
  ],
  "env": {
    "browser": true,
    "commonjs": true
  },
  "globals": {
    "require": false
  }
}
